main {
    --width: auto;
}

h2 {
    color: #fff;
    text-align: center;
}

.help-box {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px;
    flex-direction: column;
}

.box-item {
    margin-bottom: 30px;
    width: var(--width);
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.2s;
}

.box-item p {
    margin: 5px;
}

.answer,
.question {
    border: 3px solid #f28f3b;
    border-radius: 8px;
}

.question {
    height: 50px;
    width: var(--width);
    background-color: #ffd5c2;
    transition: 1s;
    display: flex;
    align-items: center;
}

.answer {
    background-color: white;
    transition: 0.2s;
    position: absolute;
    transform: scale(0);
    top: 53px;
    margin-left: 10px;
    margin-right: 10px;
}

.box-item:hover {
    z-index: 1;
}

.box-item:hover .answer {
    height: fit-content;
    transform: scale(1);
}

.box-item:hover~.box-item {
    filter: blur(2px) brightness(0.9);
}